<!DOCTYPE html>
<html>
    <head>
        <title>Simple Form</title>
    </head>
    <body>
        <h2>Enter your data:</h2>
        <form method="POST">
            <table>
                <tr>
                    <td><label for="appId">App ID</label></td>
                    <td><input type="text" name="appId" size="100"
                            value="AKfycbwM5zKfSCh7Rx4S3uu7fGxE98xT8K8zWUgIQMszA0M6AH9xiMxMMKu9ExPFiA98YD70mQ"
                            required></td>
                </tr>
                <tr>
                    <td><label for="folderId">Folder ID</label></td>
                    <td><input type="text" name="folderId" size="100"
                            value="1T6p8TBxikn8LIYrilCTxaplqwF9nfVGB"
                            required></td>
                </tr>
                <tr>
                    <td><label for="subFolders">Sub Folders</label></td>
                    <td><input type="text" name="subFolders" size="100"
                            value="250612,250614" required></td>
                </tr>
                <tr>
                    <td><label for="sheetId">Sheet ID</label></td>
                    <td><input type="text" name="sheetId" size="100"
                            value="1CVAAilMvM8LsrZIelRz6nf4SRvFeoawGonw6L4QlSC8"
                            required></td></tr>
                <tr>
                    <td><label for="tabName">Tab Name</label></td>
                    <td><input type="text" name="tabName" value="2506"
                            required></td>
                </tr>
                <tr><td colspan="2"><input type="submit"
                            value="Submit"></td></tr>
            </table>
        </form>
        <h3>Message:</h3>
        <textarea id="result" style="width:500px; height: 400px; "></textarea>
    </body>
</html>
<script>
    function addMsg(m){
        document.getElementById('result').innerText += m+'\n';
    }
    function sendData() {
        const appId = document.getElementById('appId').value;
        const folderId = document.getElementById('folderId').value;
        const subFolders = document.getElementById('subFolders').value;
        const sheetId = document.getElementById('sheetId').value;
        const tabName = document.getElementById('tabName').value;
        addMsg('posted convert!');
        fetch('/convert', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ appId, folderId, subFolders, sheetId, tabName })
        })
        .then(response => response.json())
        .then(data => {
            addMsg(data.message);
            if( data)
        });
    }
</script>